<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Match Play Calc v1.0</title>
<link rel="stylesheet" href="..css/bootstrap.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="..css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>
<p />
<ul class="nav nav-tabs">
<li><a href="../courses">Courses</a></li>
<li class="active"><a href="../golfers">Golfers</a></li>
<li><a href="../matches">Matches</a></li>
</ul>

<section>
<h3>Golfers</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Handicap</th>
    </tr>
  </thead>

    <% @golfers.each do |golfer| %>
      <tr>
        <td><%= link_to golfer.name, golfer %></td>
        <td><%= golfer.handicap %></td>
        <td><%= link_to 'Edit', edit_golfer_path(golfer) %> | 
        <%= link_to 'Destroy', golfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Golfer', new_golfer_path, :class => 'btn btn-info btn-small' %>
<p />
</body>
</html>
