<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Match Name' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :golfer_1 %><br>
   <%= collection_select(:match, :golfer1_name, Golfer.all, :name, :name) %>  
  </div>
  <div class="field">
    <%= f.label :golfer_2 %><br>
   <%= collection_select(:match, :golfer2_name, Golfer.all, :name, :name) %>  
  </div>
  <div class="field">
    <%= f.label 'Course' %><br>
   <%= collection_select(:match, :course_id, Course.all, :id, :name) %>   
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :winner %><br>
    <%= f.text_field :winner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
