<h2>Match Listing</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Golfer 1</th>
      <th>Golfer 2</th>
      <th>Course</th>
      <th>Score</th>
      <th>Winner</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.name %></td>
        <td><%= match.golfer1_id %></td>
        <td><%= match.golfer2_id %></td>
        <td><%= match.course.name %></td>
        <td><%= match.score %></td>
        <td><%= match.winner %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
